<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% load staticfiles %}

<html>
<head>
	<title>RadX | {% block title %}{% endblock %}</title>

	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
<!-- 	<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen" />
 -->
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" media="screen" />
	<link href="{% static 'wrap/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css' %}" rel="stylesheet" media="screen" />
	<link href="{% static 'wrap/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen" />
	<link href="{% static 'wrap/plugins/font-awesome/css/font-awesome.css' %}" rel="stylesheet" media="screen" />
	<link href="{% static 'wrap/css/animate.min.css' %}" rel="stylesheet" media="screen" />
	<link href="{% static 'wrap/css/style.min.css' %}" rel="stylesheet" media="screen" />
	<link href="{% static 'wrap/css/style-responsive.min.css' %}" rel="stylesheet" media="screen" />
	<link href="{% static 'wrap/css/theme/default.css' %}" rel="stylesheet" media="screen" id="theme"/>
	<!-- ================== END BASE CSS STYLE ================== -->

	<!-- ================== BEGIN PAGE CSS STYLE ================== -->
	<link href="{% static 'wrap/plugins/bootstrap3-editable/css/bootstrap-editable.css' %}" rel="stylesheet" media="screen" id="theme"/>
	<link href="{% static 'wrap/plugins/bootstrap3-editable/inputs-ext/address/address.css' %}" rel="stylesheet" media="screen" id="theme"/>
	<link href="{% static 'wrap/plugins/bootstrap3-editable/inputs-ext/typeaheadjs/lib/typeahead.css' %}" rel="stylesheet" media="screen" id="theme"/>
	<link href="{% static 'wrap/plugins/bootstrap-datepicker/css/datepicker.css' %}" rel="stylesheet" media="screen" id="theme"/>
	<link href="{% static 'wrap/plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" media="screen" id="theme"/>
	<link href="{% static 'wrap/plugins/bootstrap-datetimepicker/css/datetimepicker.css' %}" rel="stylesheet" media="screen" id="theme"/>
	<link href="{% static 'wrap/plugins/select2/dist/css/select2.css' %}" rel="stylesheet" media="screen" id="theme"/>
	<link href="{% static 'wrap/plugins/bootstrap-wysihtml5/src/bootstrap-wysihtml5.css' %}" rel="stylesheet" media="screen" id="theme"/>
	<!-- ================== END PAGE CSS STYLE ================== -->

	<!-- ================== BEGIN PAGE LEVEL CSS STYLE FOR UPLOAD ================== -->
    <link href="{% static 'wrap/plugins/jquery-file-upload/blueimp-gallery/blueimp-gallery.min.css' %}" rel="stylesheet" />
    <link href="{% static 'wrap/plugins/jquery-file-upload/css/jquery.fileupload.css' %}" rel="stylesheet" />
    <link href="{% static 'wrap/plugins/jquery-file-upload/css/jquery.fileupload-ui.css' %}" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL CSS STYLE ================== -->

	<!-- ================== BEGIN PAGE LEVEL STYLE FOR WIZARD ================== -->
	<link href="{% static 'wrap/plugins/bootstrap-wizard/css/bwizard.min.css' %}" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->

	<!-- ================== BEGIN PAGE LEVEL STYLE FOR DATEPICKERS================== -->
	<link href="{% static 'wrap/plugins/bootstrap-datepicker/css/datepicker.css' %}" rel="stylesheet" />
	<link href="{% static 'wrap/plugins/bootstrap-datepicker/css/datepicker3.css' %}" rel="stylesheet" />
	<link href="{% static 'wrap/plugins/ionRangeSlider/css/ion.rangeSlider.css' %}" rel="stylesheet" />
	<link href="{% static 'wrap/plugins/ionRangeSlider/css/ion.rangeSlider.skinNice.css' %}" rel="stylesheet" />
	<link href="{% static 'wrap/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}" rel="stylesheet" />
	<link href="{% static 'wrap/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css' %}" rel="stylesheet" />
	<link href="{% static 'wrap/plugins/password-indicator/css/password-indicator.css' %}" rel="stylesheet" />
	<link href="{% static 'wrap/plugins/bootstrap-combobox/css/bootstrap-combobox.css' %}" rel="stylesheet" />
	<link href="{% static 'wrap/plugins/bootstrap-select/bootstrap-select.min.css' %}" rel="stylesheet" />
	<link href="{% static 'wrap/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css' %}" rel="stylesheet" />
	<link href="{% static 'wrap/plugins/jquery-tag-it/css/jquery.tagit.css' %}" rel="stylesheet" />
    <link href="{% static 'wrap/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css' %}" rel="stylesheet" />
    <link href="{% static 'wrap/plugins/select2/dist/css/select2.min.css' %}" rel="stylesheet" />
    <link href="{% static 'wrap/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->



	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'wrap/plugins/pace/pace.min.js' %}" ></script>
	<!-- ================== END BASE JS ================== -->

</head>
<body>
	<h1>  {% block head %}{% endblock %}</h1>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade in"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-without-sidebar page-header-fixed">
		{% block content %}{% endblock %}
	</div>

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'wrap/plugins/jquery/jquery-1.9.1.min.js' %}" ></script>
	<script src="{% static 'wrap/plugins/jquery/jquery-migrate-1.1.0.min.js' %}" ></script>
	<script src="{% static 'wrap/plugins/jquery-ui/ui/minified/jquery-ui.min.js' %}" ></script>
	<script src="{% static 'wrap/plugins/bootstrap/js/bootstrap.min.js' %}" ></script>
	<script src="{% static 'wrap/plugins/slimscroll/jquery.slimscroll.min.js' %}" ></script>
	<script src="{% static 'wrap/plugins/jquery-cookie/jquery.cookie.js' %}" ></script>
	<!--[if lt IE 9]>
		<script src="assets/crossbrowserjs/html5shiv.js"></script>
		<script src="assets/crossbrowserjs/respond.min.js"></script>
		<script src="assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{% static 'wrap/plugins/bootstrap3-editable/js/bootstrap-editable.min.js' %}" ></script>
	<script src="{% static 'wrap/plugins/bootstrap3-editable/inputs-ext/address/address.js' %}" ></script>
	<script src="{% static 'wrap/plugins/bootstrap3-editable/inputs-ext/typeaheadjs/lib/typeahead.js' %}" ></script>
	<script src="{% static 'wrap/plugins/bootstrap3-editable/inputs-ext/typeaheadjs/typeaheadjs.js' %}" ></script>
	<script src="{% static 'wrap/plugins/bootstrap3-editable/inputs-ext/wysihtml5/wysihtml5.js' %}" ></script>
	<script src="{% static 'wrap/plugins/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.js' %}" ></script>
	<script src="{% static 'wrap/plugins/bootstrap-wysihtml5/src/bootstrap-wysihtml5.js' %}" ></script>
	<script src="{% static 'wrap/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}" ></script>
	<script src="{% static 'wrap/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}" ></script>
	<script src="{% static 'wrap/plugins/select2/dist/js/select2.min.js' %}" ></script>
	<script src="{% static 'wrap/plugins/mockjax/jquery.mockjax.js' %}" ></script>
	<script src="{% static 'wrap/plugins/moment/moment.min.js' %}" ></script>
	<script src="{% static 'wrap/js/form-editable.js' %}" ></script>
	<script src="{% static 'wrap/js/apps.min.js' %}" ></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<!-- ================== BEGIN PAGE LEVEL JS FOR UPLOAD ================== -->
	<script src="{% static 'wrap/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'wrap/plugins/jquery-file-upload/js/vendor/tmpl.min.js' %}"></script>
    <script src="{% static 'wrap/plugins/jquery-file-upload/js/vendor/load-image.min.js' %}"></script>
    <script src="{% static 'wrap/plugins/jquery-file-upload/js/vendor/canvas-to-blob.min.js' %}"></script>
    <script src="{% static 'wrap/plugins/jquery-file-upload/blueimp-gallery/jquery.blueimp-gallery.min.js' %}"></script>
    <script src="{% static 'wrap/plugins/jquery-file-upload/js/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'wrap/plugins/jquery-file-upload/js/jquery.fileupload.js' %}"></script>
    <script src="{% static 'wrap/plugins/jquery-file-upload/js/jquery.fileupload-process.js' %}"></script>
    <script src="{% static 'wrap/plugins/jquery-file-upload/js/jquery.fileupload-image.js' %}"></script>
    <script src="{% static 'wrap/plugins/jquery-file-upload/js/jquery.fileupload-audio.js' %}"></script>
    <script src="{% static 'wrap/plugins/jquery-file-upload/js/jquery.fileupload-video.js' %}"></script>
    <script src="{% static 'wrap/plugins/jquery-file-upload/js/jquery.fileupload-validate.js' %}"></script>
    <script src="{% static 'wrap/plugins/jquery-file-upload/js/jquery.fileupload-ui.js' %}"></script>
    <!--[if (gte IE 8)&(lt IE 10)]>
        <script src="{% static 'wrap/plugins/jquery-file-upload/js/cors/jquery.xdr-transport.js"></script>
    <![endif]-->
	<script src="{% static 'wrap/js/form-multiple-upload.demo.min.js' %}"></script>
	<script src="{% static 'wrap/js/apps.min.js' %}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS FOR WIZARDS ================== -->
	<script src="{% static 'wrap/plugins/bootstrap-wizard/js/bwizard.js' %}"></script>
	<script src="{% static 'wrap/js/form-wizards.demo.min.js' %}"></script>
	<script src="{% static 'wrap/js/apps.min.js' %}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="{% static 'wrap/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'wrap/plugins/ionRangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js' %}"></script>
	<script src="{% static 'wrap/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>
	<script src="{% static 'wrap/plugins/masked-input/masked-input.min.js' %}"></script>
	<script src="{% static 'wrap/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js' %}"></script>
	<script src="{% static 'wrap/plugins/password-indicator/js/password-indicator.js' %}"></script>
	<script src="{% static 'wrap/plugins/bootstrap-combobox/js/bootstrap-combobox.js' %}"></script>
	<script src="{% static 'wrap/plugins/bootstrap-select/bootstrap-select.min.js' %}"></script>
	<script src="{% static 'wrap/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js' %}"></script>
	<script src="{% static 'wrap/plugins/bootstrap-tagsinput/bootstrap-tagsinput-typeahead.js' %}"></script>
	<script src="{% static 'wrap/plugins/jquery-tag-it/js/tag-it.min.js' %}"></script>
    <script src="{% static 'wrap/plugins/bootstrap-daterangepicker/moment.js' %}"></script>
    <script src="{% static 'wrap/plugins/bootstrap-daterangepicker/daterangepicker.js' %}"></script>
    <script src="{% static 'wrap/plugins/select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'wrap/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js' %}"></script>
	<script src="{% static 'wrap/js/form-plugins.demo.js' %}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->

	<!-- ================== BEGIN PAGE LEVEL JS TEACHING FILE ================== -->
	<script src="{% static 'wrap/plugins/ckeditor/ckeditor.js' %}"></script>
	<script src="{% static 'wrap/plugins/bootstrap-wysihtml5/lib/js/wysihtml5-0.3.0.js' %}"></script>
	<script src="{% static 'wrap/plugins/bootstrap-wysihtml5/src/bootstrap-wysihtml5.js' %}"></script>
	<script src="{% static 'wrap/js/form-wysiwyg.demo.min.js' %}"></script>
	<script src="{% static 'wrap/js/apps.min.js' %}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->


	<script src="{% static 'wrap/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>


	<script>
		$(document).ready(function() {
			App.init();
			FormEditable.init();
			FormMultipleUpload.init();
			FormWizard.init();
			FormPlugins.init();
			FormWysihtml5.init();

		});
	</script>

</body>
</html>