{% extends "base.html" %}
{% block title %}Content Editor{% endblock %}
{% block head %}RadX Content Editor Application{% endblock %}
{% block content %}
<div id="content" class="content">
	<!-- begin breadcrumb -->
	<ol class="breadcrumb pull-right">
		<li><a href="javascript:;">Home</a></li>
		<li class="active">Content</li>
	</ol>
	<!-- end breadcrumb -->

	<!-- begin page-header -->
	<h1 class="page-header">RadX Content types...</small></h1>
	<!-- end page-header -->

	<!-- begin row -->
	<div class="row">
		<!-- begin col-3 -->
		<div class="col-md-3">
			<!-- begin panel -->
			<div class="panel panel-inverse" >
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-add"><i class="fa fa-plus"></i></a>
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
					</div>
					<h4 class="panel-title">Studies</h4>
				</div>
				<a href="/studies/" >
					<div class="panel-body">
						<div class="media">
							<div class="media-right">
								<img src="static/wrap/img/gallery/studies_icon.png" alt="" class="media-object" />
								Click here to see the list of studies
							</div>
						</div>
					</div>
				</a>
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-md-3">
			<!-- begin panel -->
			<div class="panel panel-inverse" >
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
					</div>
					<h4 class="panel-title">Cases</h4>
				</div>
				<a href="/cases/" >
					<div class="panel-body">
						<div class="media">
							<div class="media-right">
								<img src="static/wrap/img/gallery/cases_icon.png" alt="" class="media-object" />
								Click here to see the list of cases
							</div>
						</div>
					</div>
				</a>
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-3 -->

	</div >
	<!-- end row -->

	<!-- begin row -->
	<div class="row">
		<!-- begin col-3 -->
		<div class="col-md-3">
			<!-- begin panel -->
			<div class="panel panel-inverse" >
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
					</div>
					<h4 class="panel-title">Teaching Points</h4>
				</div>
				<a href="#" >
					<div class="panel-body">
						<div class="media">
							<div class="media-right">
								<img src="static/wrap/img/gallery/teachingfiles_icon.png" alt="" class="media-object" />
								Click here to see the list of Teaching Points
							</div>
						</div>
					</div>
				</a>
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-md-3">
			<!-- begin panel -->
			<div class="panel panel-inverse" >
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
					</div>
					<h4 class="panel-title">Teaching Files</h4>
				</div>
				<a href="#" >
					<div class="panel-body">
						<div class="media">
							<div class="media-right">
								<img src="static/wrap/img/gallery/teachingfiles_icon.png" alt="" class="media-object" />
								Click here to see the list of Teaching Files
							</div>
						</div>
					</div>
				</a>
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-md-3">
			<!-- begin panel -->
			<div class="panel panel-inverse" >
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
					</div>
					<h4 class="panel-title">Teaching Case Reports</h4>
				</div>
				<a href="#" >
					<div class="panel-body">
						<div class="media">
							<div class="media-right">
								<img src="static/wrap/img/gallery/casereport_icon.png" alt="" class="media-object" />
								Click here to see the list of Case Reports
							</div>
						</div>
					</div>
				</a>
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-3 -->
		<!-- begin col-3 -->
		<div class="col-md-3">
			<!-- begin panel -->
			<div class="panel panel-inverse" >
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
					</div>
					<h4 class="panel-title">Teaching Blocks</h4>
				</div>
				<a href="#" >
					<div class="panel-body">
						<div class="media">
							<div class="media-right">
								<img src="static/wrap/img/gallery/teachingfiles_icon.png" alt="" class="media-object" />
								Click here to see the list of Teaching Blocks
							</div>
						</div>
					</div>
				</a>
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-3 -->
				<!-- begin col-3 -->
		<div class="col-md-3">
			<!-- begin panel -->
			<div class="panel panel-inverse" >
				<div class="panel-heading">
					<div class="panel-heading-btn">
						<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
					</div>
					<h4 class="panel-title">Media Center</h4>
				</div>
				<a href="#" >
					<div class="panel-body">
						<div class="media">
							<div class="media-right">
								<img src="static/wrap/img/gallery/video_icon.png" alt="" class="media-object" />
								Click here to see the list of media
							</div>
						</div>
					</div>
				</a>
			</div>
			<!-- end panel -->
		</div>
		<!-- end col-3 -->

	</div >
	<!-- end row -->


</div>




{% endblock %}