{% extends "base.html" %}
{% block title %}Studies{% endblock %}
{% block head %}RadX Content Editor Application{% endblock %}
{% block content %}
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li><a href="javascript:;">Home</a></li>
				<li><a href="../">Content</a></li>
				<li class="active">Studies</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">Studies <small></small></h1>
			<!-- end page-header -->
			
			<!-- begin row -->
			<div class="row">
			    <!-- begin col-6 -->
			    <div class="col-md-12">
			        <!-- begin panel -->
			        <!-- begin panel -->
                    <div class="panel panel-inverse overflow-hidden">
                        <div class="panel-heading">
                            <div class="panel-heading-btn">
                                <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion" href="#search">
                                    <button type="button" class="btn btn-xs btn-inverse"><i class="fa fa-search"></i> Search</button>
                                </a>
                            </div>
                            <div class="panel-heading-btn">
                                <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion" href="#addStudy">
                                    <button type="button" class="btn btn-xs btn-inverse"><i class="fa fa-plus"></i> Add Study</button>
                                </a>
                            </div>
                            <h4 class="panel-title">Studies</h4>

                        </div>

                        <!-- begin accordian - SEARCH -->
                        <div id="search" class="panel-collapse collapse">
                            <div class="panel-body note-info">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Study ID</th>
                                            <th>Study Date</th>
                                            <th>Modality</th>
                                            <th>Description</th>
                                            <th># Series</th>
                                            <th># Images</th>
                                            <th>Upload Date</th>
                                            <th>Author</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="col-md-4">
                                                    <input type="text" class="form-control input-sm" placeholder="#" />
                                                </div>
                                            </td>
                                            <td style="padding-left:0px; padding-right:0px">
                                                <div class="input-group input-daterange">
                                                    <input type="text" class="form-control input-sm" name="start" placeholder="Date Start" />
                                                    <span class="input-group-addon">to</span>
                                                    <input type="text" class="form-control input-sm" name="end" placeholder="Date End" />
                                                </div>
                                            </td>
                                            <td>
                                                <div col-md-9>
                                                    <select class="form-control input-sm">
                                                        <option>MR</option>
                                                        <option>CT</option>
                                                        <option>CR</option>
                                                        <option>MG</option>
                                                        <option>PET</option>
                                                        <option>US</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#" id="comments" data-type="textarea" data-pk="1" data-placeholder="No contrast abdomen " data-original-title="Description">No contrast abdomen </a>
                                            </td>
                                            <td>2</td>
                                            <td>76</td>
                                            <td>
                                                <a href="#" class="radx_datepicker" id="uploadDate" data-type="date" data-viewformat="yyyy.mm.dd" data-pk="1" data-placement="right" data-title="Study Date">2015.08.25</a>
                                            </td>
                                            <td>
                                                <a href="#" id="author" data-type="select" data-pk="1" data-value="1" data-title="Author">CT</a>
                                            </td>
                                            <td>
                                                <a href="#" data-toggle="modal" class="btn btn-primary btn-xs m-r-5">Search</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- end accordian - SEARCH -->

                        <!-- begin accordian - ADDSTUDY -->
                        <div id="addStudy" class="panel-collapse collapse">
                            <div class="panel-body">
                                <form action="/" method="POST">
                                    <div id="wizard">
                                        <ol>
                                            <li>
                                                Upload Study 
                                                <small>Add your images to the RadX study archive</small>
                                            </li>
                                            <li>
                                                Edit Study Infomration
                                                <small>Edit and Save study information</small>
                                            </li>
                                        </ol>
                                        <!-- begin wizard step-1 -->
                                        <div>
                                            <legend class="pull-left width-full">Upload Study</legend>
                                            <form id="fileupload" action="wrap/global/plugins/jquery-file-upload/server/php/" method="POST" enctype="multipart/form-data">
                                                <div class="row fileupload-buttonbar">
                                                    <div class="col-md-12">
                                                        <span class="btn btn-success fileinput-button">
                                                            <i class="fa fa-plus"></i>
                                                            <span>Add files...</span>
                                                            <input type="file" name="files[]" multiple>
                                                        </span>
                                                        <button type="submit" class="btn btn-primary start">
                                                            <i class="fa fa-upload"></i>
                                                            <span>Start upload</span>
                                                        </button>
                                                        <button type="reset" class="btn btn-warning cancel">
                                                            <i class="fa fa-ban"></i>
                                                            <span>Cancel upload</span>
                                                        </button>
                                                        <button type="button" class="btn btn-danger delete">
                                                            <i class="glyphicon glyphicon-trash"></i>
                                                            <span>Delete</span>
                                                        </button>
                                                        <!-- The global file processing state -->
                                                        <span class="fileupload-process"></span>
                                                    </div>
                                                    <!-- The global progress state -->
                                                    <div class="col-md-5 fileupload-progress fade">
                                                        <!-- The global progress bar -->
                                                        <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                                            <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                                                        </div>
                                                        <!-- The extended global progress state -->
                                                        <div class="progress-extended">&nbsp;</div>
                                                    </div>
                                                </div>
                                                <!-- The table listing the files available for upload/download -->
                                                <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
                                            </form>
                                        </div>
                                        <!-- end wizard step-1 -->
                                        <!-- begin wizard step-2 -->
                                        <div>
                                            <legend class="pull-left width-full">Edit Study Information</legend>
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Study ID</label>
                                                    <div class="col-md-2">
                                                        <input type="text" class="form-control" placeholder="1" disabled />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Study Date</label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control datepicker-autoClose" placeholder="1999-05-15" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Modality</label>
                                                    <div class="col-md-2">
                                                        <select class="form-control">
                                                            <option>MR</option>
                                                            <option>CT</option>
                                                            <option>CR</option>
                                                            <option>MG</option>
                                                            <option>PET</option>
                                                            <option>US</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Description</label>
                                                    <div class="col-md-6">
                                                        <textarea class="form-control" placeholder="No contrast abdomen" rows="3"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Number of Series</label>
                                                    <div class="col-md-2">
                                                        <input type="text" class="form-control" placeholder="2" disabled/>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Number of Images</label>
                                                    <div class="col-md-2">
                                                        <input type="text" class="form-control" placeholder="76" disabled/>
                                                    </div>
                                                </div>
                                                
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Upload Date</label>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control datepicker-autoClose" placeholder="2015-05-15" />
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Author</label>
                                                    <div class="col-md-4">
                                                        <select class="form-control">
                                                            <option>Dr. Goldman</option>
                                                            <option>Dr. Ghandi</option>
                                                            <option>Dr. Shastri</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div>

                                                    <p class="text-right m-b-0">
                                                        <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancel</a>
                                                        <a href="javascript:;" class="btn btn-sm btn-success">Add Study</a>
                                                    </p>

                                                </div>
                                            </form>
                                        </div>
                                        <!-- end wizard step-2 -->
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- end accordian - ADDSTUDY -->

                            <!-- #SEARCH -->
                            <!-- #modal-dialog -->
							<div class="modal fade" id="search-dialog">
								<div class="modal-dialog" style="width : 40%">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h4 class="modal-title">Search Studies</h4>
										</div>
										<div class="modal-body">
                                            <div>
                                                <legend class="pull-left width-full">Enter search properties...</legend>
                                                <form class="form-horizontal">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">Study ID</label>
                                                        <div class="col-md-2">
                                                            <input type="text" class="form-control" placeholder="Study ID" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">Study Date</label>
                                                        <div class="col-md-8">
                                                            <div class="input-group input-daterange">
                                                                <input type="text" class="form-control" name="start" placeholder="Date Start" />
                                                                <span class="input-group-addon">to</span>
                                                                <input type="text" class="form-control" name="end" placeholder="Date End" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">Modality (multiple)</label>
                                                        <div class="col-md-2">
                                                            <select multiple class="form-control">
                                                                <option>MR</option>
                                                                <option>CT</option>
                                                                <option>CR</option>
                                                                <option>MG</option>
                                                                <option>PET</option>
                                                                <option>US</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">Description (contains)</label>
                                                        <div class="col-md-6">
                                                            <textarea class="form-control" placeholder="Description text" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">Number of Series</label>
                                                        <div class="col-md-2">
                                                            <input type="text" class="form-control" placeholder="# Series" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">Number of Images</label>
                                                        <div class="col-md-2">
                                                            <input type="text" class="form-control" placeholder="# Images" />
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">Upload Date</label>
                                                        <div class="col-md-8">
                                                            <div class="input-group input-daterange">
                                                                <input type="text" class="form-control" name="start" placeholder="Date Start" />
                                                                <span class="input-group-addon">to</span>
                                                                <input type="text" class="form-control" name="end" placeholder="Date End" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">Author</label>
                                                        <div class="col-md-4">
                                                            <select class="form-control">
                                                                <option>Dr. Goldman</option>
                                                                <option>Dr. Ghandi</option>
                                                                <option>Dr. Shastri</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </form>
        										<div class="modal-footer">
        											<a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancel</a>
        											<a href="javascript:;" class="btn btn-sm btn-success">Search</a>
        										</div>
									       </div>
								        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- #EDIT -->
                            <!-- #modal-dialog -->
                            <div class="modal fade" id="edit-dialog">
                                <div class="modal-dialog" style="width : 40%">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">Edit Study Access<small> allow other users to read or modify this study</small></h4>
                                        </div>
                                        <div class="modal-body">
                                            <form class="form-horizontal">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">Access</label>
                                                    <div class="col-md-7" data-scrollbar="true" data-height="120px">
                                                        <table class="table table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th>User</th>
                                                                    <th>Read</th>
                                                                    <th>Modify</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>Dr. Goldman</td>
                                                                    <td><input type="checkbox" value="" /></td>
                                                                    <td><input type="checkbox" value="" /></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Dr. Ghandi</td>
                                                                    <td><input type="checkbox" value="" /></td>
                                                                    <td><input type="checkbox" value="" /></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Dr. Shastri</td>
                                                                    <td><input type="checkbox" value="" /></td>
                                                                    <td><input type="checkbox" value="" /></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Dr. Smith</td>
                                                                    <td><input type="checkbox" value="" /></td>
                                                                    <td><input type="checkbox" value="" /></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>                                                
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                        <div class="modal-footer">
                                            <a href="javascript:;" class="btn btn-sm btn-white" data-dismiss="modal">Cancel</a>
                                            <a href="javascript:;" class="btn btn-sm btn-success">Save Changes</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                       	<div class="panel-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Study Date</th>
                                        <th>Modality</th>
                                        <th>Description</th>
                                        <th># Series</th>
                                        <th># Images</th>
                                        <th>Upload Date</th>
                                        <th>Author</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <a href="#" class="radx_datepicker" id="studyDate" data-type="date" data-viewformat="yyyy.mm.dd" data-pk="1" data-placement="right" data-title="Study Date">2013.02.25</a>
                                        </td>
                                        <td>
                                            <a href="#" id="modality" data-type="select" data-pk="1" data-value="1" data-title="Modality">CT</a>
                                        </td>
                                        <td>
                                            <a href="#" id="comments" data-type="textarea" data-pk="1" data-placeholder="No contrast abdomen " data-original-title="Description">No contrast abdomen </a>
                                        </td>
                                        <td>2</td>
                                        <td>76</td>
                                        <td>
                                            <a href="#" class="radx_datepicker" id="uploadDate" data-type="date" data-viewformat="yyyy.mm.dd" data-pk="1" data-placement="right" data-title="Study Date">2015.08.25</a>
                                        </td>
                                        <td>
                                            <a href="#" id="author" data-type="select" data-pk="1" data-value="1" data-title="Author">CT</a>
                                        </td>
                                        <td>
                                            <a href="#edit-dialog" data-toggle="modal" class="btn btn-primary btn-xs m-r-5">Access</a>
                                            <a href="javascript:;" class="btn btn-primary btn-xs m-r-5">View Study</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>2014.02.03</td>
                                        <td>MR</td>
                                        <td>ACL Tear</td>
                                        <td>4</td>
                                        <td>300</td>
                                        <td>2015.06.23</td>
                                        <td>Dr. Goldman</td>
                                        <td>
                                            <a href="#edit-dialog" data-toggle="modal" class="btn btn-primary btn-xs m-r-5">Access</a>
                                            <a href="javascript:;" class="btn btn-primary btn-xs m-r-5">View Study</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>2014.02.03</td>
                                        <td>CR</td>
                                        <td>Chest Pain</td>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>2015.06.23</td>
                                        <td>Dr. Goldman</td>
                                        <td>
                                            <a href="#edit-dialog" data-toggle="modal" class="btn btn-primary btn-xs m-r-5">Access</a>
                                            <a href="javascript:;" class="btn btn-primary btn-xs m-r-5">View Study</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>2013.12.03</td>
                                        <td>PET/CT</td>
                                        <td>Cardiac study on 109 year old male runner</td>
                                        <td>9</td>
                                        <td>900</td>
                                        <td>2015.06.23</td>
                                        <td>Vishal Ghandi</td>
                                        <td>
                                            <a href="#edit-dialog" data-toggle="modal" class="btn btn-primary btn-xs m-r-5">Access</a>
                                            <a href="javascript:;" class="btn btn-primary btn-xs m-r-5">View Study</a>
                                        </td>
                                   </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>1999.01.26</td>
                                        <td>MR</td>
                                        <td>Breast 62 year old female</td>
                                        <td>6</td>
                                        <td>260</td>
                                        <td>2015.06.23</td>
                                        <td>Dr. Goldman</td>
                                        <td>
                                            <a href="#edit-dialog" data-toggle="modal" class="btn btn-primary btn-xs m-r-5">Access</a>
                                            <a href="javascript:;" class="btn btn-primary btn-xs m-r-5">View Study</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>2000.11.10</td>
                                        <td>US</td>
                                        <td>Kidney stone</td>
                                        <td>1</td>
                                        <td>344</td>
                                        <td>2015.07.24</td>
                                        <td>Dr. Goldman</td>
                                        <td>
                                            <a href="#edit-dialog" data-toggle="modal" class="btn btn-primary btn-xs m-r-5">Access</a>
                                            <a href="javascript:;" class="btn btn-primary btn-xs m-r-5">View Study</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>2014.02.03</td>
                                        <td>MG</td>
                                        <td>Routine</td>
                                        <td>4</td>
                                        <td>4</td>
                                        <td>2015.08.23</td>
                                        <td>Dr. Goldman</td>
                                        <td>
                                            <a href="#edit-dialog" data-toggle="modal" class="btn btn-primary btn-xs m-r-5">Access</a>
                                            <a href="javascript:;" class="btn btn-primary btn-xs m-r-5">View Study</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>2014.08.03</td>
                                        <td>MG</td>
                                        <td>Diagnostic 6 months</td>
                                        <td>8</td>
                                        <td>8</td>
                                        <td>2015.06.23</td>
                                        <td>Dr. Goldman</td>
                                        <td>
                                            <a href="#edit-dialog" data-toggle="modal" class="btn btn-primary btn-xs m-r-5">Access</a>
                                            <a href="javascript:;" class="btn btn-primary btn-xs m-r-5">View Study</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end panel -->
			        <!-- begin panel -->

                   <!-- end panel -->
			    </div>
			    <!-- end col-6 -->
			    <!-- begin col-6 -->
			</div>
			<!-- end row -->
		</div>


{% endblock %}